sudo: required
dist: trusty
language: rust
services:
  - postgresql
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
    - postgresql-10-postgis-2.4
    - postgis
before_install:
  - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo service postgresql restart
  - sleep 1
env:
  global:
  - PGPORT=5433
  - PGUSER=postgres
  - PGPASSWORD=''
  - PGHOST=localhost
before_script:
  - psql -U postgres -c "DROP DATABASE IF EXISTS acko_test;" template1
  - psql -U postgres -c "CREATE DATABASE acko_test" template1
  - psql -U postgres -c "CREATE EXTENSION IF NOT EXISTS hstore;" acko_test
  - psql -U postgres -c "CREATE EXTENSION IF NOT EXISTS citext;" acko_test
  - psql -U postgres -c "CREATE EXTENSION IF NOT EXISTS postgis;" acko_test
  - psql -d acko_test -f acko.sql
script:
  - cargo run